.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px !important;
  width: 1px !important;
  padding: 0 !important;
  border: 0 !important;
  overflow: hidden;
}

.button-service, .modal-window, .button-close-modal, .modal-checkbox, .modal-checkbox-label, .social-list-link, .email-input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-list, .footer-block, .social-block, .email-block {
  display: flex;
  justify-content: space-between;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  background-color: #fff;
}

a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

a:hover, a:focus {
  color: #2196f3;
}

img {
  display: block;
}

section,
footer {
  width: 100%;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
  }
  .hero .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .features .container {
    display: flex;
  }
}

.list {
  list-style: none;
}

.link {
  font-style: normal;
}

.accent,
.active {
  color: #2196f3;
}

.footer {
  background: #2f303a;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.03em;
}

.logo-light-theme {
  color: #000;
}

.logo-dark-theme {
  color: #fff;
}

.title {
  padding-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

.header {
  border-bottom: 1px solid #ececec;
}

.container.header-menu {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 10px 15px;
}

@media screen and (min-width: 768px) {
  .container.header-menu {
    padding: 0 15px;
  }
}

@media screen and (max-width: 767px) {
  .nav {
    display: none;
    position: absolute;
    z-index: 10;
    top: 60px;
    left: 0px;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  }
}

@media screen and (min-width: 768px) {
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
  }
}

@media screen and (max-width: 767px) {
  .nav.is-open {
    display: block;
  }
}

.nav-list {
  display: block;
  width: 98px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .nav-list {
    display: flex;
    width: auto;
    margin-left: 94px;
    margin-bottom: 0;
  }
}

.nav-list > li + li {
  margin-top: 40px;
}

@media screen and (min-width: 768px) {
  .nav-list > li + li {
    margin-top: 0;
    margin-left: 50px;
  }
}

.nav-list-link {
  display: block;
  position: relative;
  font-size: 18px;
  line-height: 1.16;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .nav-list-link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14;
  }
}

.nav-list-link.active {
  color: #2196f3;
}

.nav-list-link.active::after {
  content: "";
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 4px;
  margin-top: 8px;
  background-color: #2196f3;
  border-radius: 2px;
}

.nav-list-link.active::after {
  /* width: 64px; */
}

@media screen and (min-width: 768px) {
  .nav-list-link.active::after {
    position: absolute;
    bottom: -1px;
    width: 100%;
  }
}

/*
.nav-list-link.active.port::after {
  width: 99px;
  @media screen and (min-width: $breakpoint-tablet) {
    position: absolute;
    bottom: -1px;
    width: 100%;
  }
} */
.address-list {
  display: block;
}

@media screen and (min-width: 1200px) {
  .address-list {
    display: flex;
  }
}

.header-contact-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
}

@media screen and (min-width: 768px) {
  .header-contact-link {
    justify-content: flex-start;
    font-size: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .header-contact-link {
    justify-content: center;
    font-size: 14px;
    line-height: 1.16;
  }
}

.address-list > li:not(:last-child) {
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .address-list > li:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .address-list > li:not(:last-child) {
    margin-bottom: 0;
    margin-right: 30px;
  }
}

.header-contact-link > svg {
  fill: currentColor;
  margin-right: 10px;
}

.header-contact-link:hover, .header-contact-linkfocus {
  color: #2196f3;
}

.menu-button {
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button:hover, .menu-button:focus {
  color: #2196f3;
}

.burger-menu-svg {
  width: 40px;
  height: 40px;
}

.burger-close {
  display: none;
}

.menu-button.is-open .burger-close {
  display: block;
}

.menu-button.is-open .burger-open {
  display: none;
}

/*
.header .address-list {
  display: flex;

  &-item:not(:last-child) {
    margin-right: 50px;
  }
}

.nav {
  display: flex;
  align-items: center;
  height: 80px;

  &-list {
    display: flex;
    align-items: center;
    height: 80px;

    &-item:not(:last-child) {
      margin-right: 50px;
    }

    &-link {
      display: block;
      position: relative;
      padding-top: 32px;
      padding-bottom: 32px;
      color: $title-color;
    }
  }
}

.active {
  color: $accent-color;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    background-color: $accent-color;
    border-radius: 2px;
  }
}

.header-address {
  display: flex;
}

.header-contact-link {
  @extend %flex-center;
  color: $text-dark-color;

  & .header-contact-svg {
    width: 16px;
    height: 16px;
    margin-right: 10px;
    fill: $text-dark-color;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:hover .header-contact-svg,
  &:focus .header-contact-svg {
    fill: $accent-color;
  }
} */
.button-service {
  min-width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #fff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-style: none;
  border-radius: 4px;
  outline: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-service:hover {
  background-color: #188ce8;
}

.footer .button-service::after {
  content: "";
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background: url(../img/icon-send.svg);
}

.backdrop {
  position: fixed;
  overflow: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal-window {
  min-height: 100%;
  padding: 15px;
}

.button-close-modal {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close-svg {
  display: block;
  width: 11px;
  height: 11px;
}

.button-close-modal:hover .button-close-svg {
  fill: #2196f3;
}

.modal-form-title {
  align-self: center;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal-form {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 528px;
  height: 582px;
  padding: 40px;
  background: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal-form {
  transform: scale(0.1);
}

.modal-form-wrapper {
  display: flex;
  flex-direction: column;
  height: 342px;
  margin-bottom: 20px;
}

.modal-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.modal-field-label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-field-wrapper {
  position: relative;
  width: 100%;
}

.modal-field-input {
  width: 100%;
  height: 40px;
  padding: 12px 0 12px 42px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal-field-input:focus {
  outline: none;
  border: 1px solid #2196f3;
}

.modal-field-svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  width: 18px;
  height: 18px;
}

.modal-field-input:focus + .modal-field-svg {
  fill: #2196f3;
}

.modal-field-comment {
  height: 120px;
  padding: 12px 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
}

.modal-field-comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-field-comment:focus {
  outline: none;
  border: 1px solid #2196f3;
}

.modal-field-comment:focus::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.01em;
}

.modal-checkbox {
  margin-bottom: 30px;
}

.modal-checkbox-label {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.modal-checkbox-label::before {
  content: "";
  width: 16px;
  height: 15px;
  margin-right: 8px;
  background-image: url(../img/box-empty.svg);
}

.modal-checkbox-policy:checked + .modal-checkbox-label::before {
  background-image: url(../img/box-cheked.svg);
}

.modal-checkbox-contract {
  text-decoration: underline;
  color: #2196f3;
}

.modal-checkbox-contract:focus {
  outline: none;
  border: 1px solid #2196f3;
}

.button-service.modal {
  align-self: center;
}

.social-list {
  width: 206px;
  margin: 0 auto;
}

.social-list-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #fff;
}

.social-list-link:hover {
  background-color: #2196f3;
}

.footer .social-list-link {
  background-color: rgba(255, 255, 255, 0.1);
  align-self: flex-end;
}

.footer .social-list-link:hover {
  background-color: #2196f3;
}

.social-link-svg {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover .social-link-svg {
  fill: #fff;
}

.footer .social-list-link .social-link-svg {
  fill: #fff;
}

.footer {
  padding: 60px 0;
}

.footer-block {
  align-items: baseline;
}

.address-block {
  width: 230px;
}

.footer .address-list {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.footer .address-list-item:not(:last-child) {
  margin-bottom: 8px;
}

.footer-address-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #fff;
}

.footer-contact-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.social-block {
  flex-direction: column;
  width: 206px;
  height: 80px;
}

.footer-social-title,
.email-input-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}

.email-block {
  flex-direction: column;
  width: 570px;
  height: 86px;
}

.footer-email-form {
  display: flex;
}

.email-input {
  width: 358px;
  height: 50px;
  padding: 16px 15px;
  margin-right: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
}

.email-input::placeholder {
  width: 47px;
  height: 20px;
  color: rgba(255, 255, 255, 0.6);
}
/*# sourceMappingURL=main.css.map */