//utils
@import "./sass/utils/variables";
@import "./sass/utils/visually-hidden";
@import "./sass/utils/mixins";
@import "./sass/utils/placeholders";
@import "./sass/utils/common";

//components
@import "./sass/components/logo";
@import "./sass/components/title";
@import "./sass/components/header";
@import "./sass/components/modal-window";
@import "./sass/components/social-list";
@import "./sass/components/footer";

//layouts
@import "./sass/layouts/hero";
@import "./sass/layouts/features";
@import "./sass/layouts/activity";
@import "./sass/layouts/team";
@import "./sass/layouts/customers";
