.footer {
  padding: 60px 0;
  background: $background-dark-color;

  &-block {
    display: block;
    text-align: center;
    @media screen and (min-width: $breakpoint-tablet) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    @media screen and (min-width: $breakpoint-desktop) {
      justify-content: space-between;
      align-items: baseline;
    }
  }
}

.footer .address-block {
  @media screen and (min-width: $breakpoint-desktop) {
    text-align: left;
  }
}

.footer .address-list {
  display: block;
  margin-top: 20px;

  &-item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 8px;
  }
}

.footer-address-link {
  @include font(400, 14px, 1.714, 0.03em);
  color: $text-light-color;
}

.footer-contact-link {
  @include font(400, 14px, 1.714, 0.03em);
  color: $footer-contact-color;
}

.social-block {
  margin-top: 60px;
  @media screen and (min-width: $breakpoint-tablet) {
    margin-top: 0;
  }
}

.footer-social-title,
.email-input-title {
  margin-bottom: 20px;
  @include font(700, 14px, 1.33, 0.03em);
  text-transform: uppercase;
  color: $text-light-color;
  @media screen and (min-width: $breakpoint-desktop) {
    text-align: left;
  }
}

.email-block {
  display: block;
  margin-top: 60px;
  @media screen and (min-width: $breakpoint-tablet) {
    width: 100%;
  }
  @media screen and (min-width: $breakpoint-desktop) {
    /* display: flex; */
    width: 570px;
    margin-top: 0;
  }
}

.footer-email-form {
  display: block;
  @media screen and (min-width: $breakpoint-desktop) {
    display: flex;
  }
}

.email-input {
  width: 100%;
  max-width: 450px;
  height: 50px;
  margin-bottom: 20px;
  padding: 16px 15px;
  @include font(400, 16px, 1.25, 0.03em);
  color: $text-light-color;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  @media screen and (min-width: $breakpoint-desktop) {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;

    &::placeholder {
      width: 47px;
      height: 20px;
      color: $footer-contact-color;
    }
  }
}
