.header {
  border-bottom: 1px solid $header-border-color;
}

.container.header-menu {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  @media screen and (min-width: $breakpoint-tablet) {
    padding: 0 15px;
  }
}

.nav {
  @media screen and (max-width: $breakpoint-tablet - 1px) {
    position: absolute;
    display: none;
    z-index: 777;
    top: 60px;
    left: 0px;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 1px 3px rgba(0, 0, 0, 0.16);
  }
  @media screen and (min-width: $breakpoint-tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
  }
}

.nav.is-open {
  @media screen and (max-width: $breakpoint-tablet - 1px) {
    display: block;
  }
}

.nav-list {
  display: block;
  width: 98px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  @media screen and (min-width: $breakpoint-tablet) {
    display: flex;
    width: auto;
    margin-left: 94px;
    margin-bottom: 0;
  }
}

.nav-list > li + li {
  margin-top: 40px;
  @media screen and (min-width: $breakpoint-tablet) {
    margin-top: 0;
    margin-left: 50px;
  }
}

.nav-list-link {
  position: relative;
  display: block;
  font-size: 18px;
  line-height: 1.16;
  text-align: center;
  @media screen and (min-width: $breakpoint-tablet) {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14;
  }

  &.active {
    color: $accent-color;
  }
}

.nav-list-link.active::after {
  content: "";
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 4px;
  margin-top: 8px;
  background-color: $accent-color;
  border-radius: 2px;
  @media screen and (min-width: $breakpoint-tablet) {
    position: absolute;
    bottom: -1px;
    width: 100%;
  }
}

.address-list {
  display: block;
  @media screen and (min-width: $breakpoint-desktop) {
    display: flex;
  }
}

.address-list > li:not(:last-child) {
  margin-bottom: 16px;
  @media screen and (min-width: $breakpoint-tablet) {
    margin-bottom: 10px;
  }
  @media screen and (min-width: $breakpoint-desktop) {
    margin-bottom: 0;
    margin-right: 30px;
  }
}

.address-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: $text-dark-color;
  @media screen and (min-width: $breakpoint-tablet) {
    justify-content: flex-start;
    font-size: 12px;
  }
  @media screen and (min-width: $breakpoint-desktop) {
    justify-content: center;
    font-size: 14px;
    line-height: 1.16;
  }

  & > svg {
    fill: currentColor;
    margin-right: 10px;
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.menu-button {
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  background-color: transparent;
  @media screen and (min-width: $breakpoint-tablet) {
    display: none;
  }

  & .burger-close {
    display: none;
  }

  &.is-open .burger-close {
    display: block;
  }

  &.is-open .burger-open {
    display: none;
  }

  .burger-menu-svg &:hover,
  .burger-menu-svg &:focus {
    fill: $accent-color;
  }
}
