*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

body {
  font-family: $main-font;
  font-style: normal;
  background-color: $body-bg-color;
}

a {
  @include font(500, 14px, 1.143, 0.02em);
  color: $title-color;
  text-decoration: none;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

img {
  display: block;
}

section,
footer {
  width: 100%;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  margin: 0 auto;

  @media screen and (min-width: $breakpoint-mobile) {
    max-width: $breakpoint-mobile;
  }
  @media screen and (min-width: $breakpoint-tablet) {
    max-width: $breakpoint-tablet;
  }
  @media screen and (min-width: $breakpoint-desktop) {
    max-width: $breakpoint-desktop;
    padding: 0 15px;
    margin: 0 auto;

    .hero & {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .features & {
      display: flex;
    }
  }
}

.list {
  list-style: none;
}

.link {
  font-style: normal;
}

.accent,
.active {
  color: $accent-color;
}

.footer {
  background: $background-dark-color;
}
