.customers.section {
  padding-top: 60px;
  padding-bottom: 60px;
  @include sections-paddings-breakpoints(1200px, 94px, 94px);
}

.customers-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: -15px;

  &-link {
    display: flex;
    width: 210px;
    height: 90px;
    margin: 15px;
    @media screen and (min-width: $breakpoint-tablet) {
      width: 226px;
    }
    @media screen and (min-width: $breakpoint-desktop) {
      width: 170px;
    }
  }
}

.customers-svg {
  fill: $icon-color;
  border: 1px solid;
  border-color: $icon-color;
  border-radius: 4px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .customers-list-link:hover & {
    fill: $accent-color;
    border-color: $accent-color;
  }
}
